{% extends 'base.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('mensaje') %}
        <div class="flash-notice">
    {{flashMessage}}
        </div>
    {% endfor %}
{% endblock %}
